@(companyInfo: models.CompanyDB.CompanyInfo)

@main(companyInfo.name) { } {
   
    <div class = "table-responsive">
   <table class = "table">
      <caption>@companyInfo.ticker</caption>
      
      <thead>
         <tr>
            <th>Field</th>
            <th>Value</th>
         </tr>
      </thead>
      <tbody>
       @for((key, value) <- companyInfo.companyData) {
         <tr>
            <td>@key</td>
            <td>@value</td>
         </tr>
        }
         
      </tbody>
      
   </table>
   
    @searchform("Search For Another Company")
}
