@(fieldList: List[String])

@main("Search") { } {	
	
	<table style="width: 600px">
			<tr>
				<td align="left">Field:</td>
		      	<td align="left">Operator:</td>
		     	<td align="left">Value:</td>
		      	
		    </tr>
	   
   		<form method="post" action="@routes.Application.interpretQuery()" id="searchform">
   		@for(x <- fieldList){
   			
	      	 	
	      		<td align="left"><input type="checkbox" name="field" autocomplete="off" />@x</td>      	
	     		<td align="left"><input type="text" name="operator" /></td>	     	
	      		<td align="left"><input type="text" name="value" /></td>	      	
	      	
	      	
	   	}
	   	<td align="right"><input type="submit" form="searchform" value="Search" /></td>	
	   </form>
   </table>
	


 }
